@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

/* customizing general elements */
body {
  background-image: url("/background.jpg");
  font-family: "Special Elite", system-ui !important;
}

h1 {
  font-size: 30px !important;
}

p {
  font-size: 14px !important;
  line-height: 20px !important;
  margin-bottom: 1rem !important;
}
/* positioning of television and its contents */
.overlay-television {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.overlap {
  position: absolute;
  margin-top: -23%;
  margin-left: 12%;
  text-align: left;
  width: 55%;
  height: 45vh;
  overflow: auto;
}

/* positioning of end screen */
.end-screen {
  position: absolute;
  margin-top: -23%;
  margin-left: 12%;
  text-align: middle;
  width: 55%;
  height: 45vh;
  overflow-y: scroll;
}
/* hide class */
.hide {
  display: none !important;
}

/* positioning of buttons */
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 90%;
  position: absolute;
  bottom: -150px;
}
.choice-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 90%;
  position: absolute;
  bottom: -60px;
}
/* hiding sorry screen by default*/
.sorryScreen {
  display: none;
}

@media screen and (max-width: 768px) {
  /* hiding television and its content when screen width is not big enough */
  .overlay-television,
  .overlap {
    display: none;
  }
  /* displaying sorry screen */
  .sorryScreen {
    display: block;
    color: white;
    position: absolute;
    margin-top: 40vh;
    text-align: center;
  }
}
@media (min-width: 769px) and (max-width: 900px) {
  .overlap {
    height: 23vh;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .overlap {
    height: 27vh;
  }
}
@media (min-width: 1025px) and (max-width: 1180px) {
  .overlap {
    height: 35vh;
  }
}
@media screen and (min-width: 1181px) {
  .overlap {
    height: 45vh;
  }
}
