body {
  background-image: url("/background.jpg");
  font-family: "Times New Roman", Times, serif !important;
}

.overlay-television {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.overlap {
  position: absolute;
  margin-top: -13%;
  margin-left: 30%;
  text-align: left;
  width: 30%;
  height: 60vh;
}

h1 {
  font-size: 30px !important;
}

p {
  font-size: 16px !important;
}

.hide {
  display: none !important;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  width: 138%;
  position: absolute;
  bottom: 20px;
}
